
/* ========================= */
/* RESET */
/* ========================= */

/*
Elimina espacios automáticos
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



/* ========================= */
/* BODY */
/* ========================= */

body{

    background:#0f172a;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

    line-height:1.6;

    scroll-behavior:smooth;
}



/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar{

    position:fixed;

    top:0;

    width:100%;

    background:#111827;

    padding:20px 50px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:1000;
}



/* Logo */

.logo{

    color:#38bdf8;

    font-size:30px;
}



/* Lista */

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;
}



/* Links */

.nav-links a{

    text-decoration:none;

    color:white;

    transition:0.3s;
}



/* Hover links */

.nav-links a:hover{

    color:#38bdf8;
}



/* ========================= */
/* HERO */
/* ========================= */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:80px;

    padding:120px 10%;
}



/* Texto backend */

.backend-text{

    color:#38bdf8;

    font-size:20px;

    margin-bottom:10px;
}



/* Título */

.hero-info h1{

    font-size:60px;

    margin-bottom:20px;
}



/* Descripción */

.descripcion{

    color:#cbd5e1;

    font-size:20px;

    max-width:600px;

    margin-bottom:30px;
}



/* Imagen */

.hero-image img{

    width:350px;

    animation:float 3s infinite ease-in-out;
}



/* Animación */

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }

}



/* ========================= */
/* BOTONES */
/* ========================= */

.hero-buttons{

    display:flex;

    gap:20px;
}



/* Botones */

.btn,
.btn-secondary{

    padding:14px 25px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;
}



/* Botón principal */

.btn{

    background:#38bdf8;

    color:black;
}



/* Hover */

.btn:hover{

    transform:translateY(-5px);
}



/* Botón secundario */

.btn-secondary{

    border:2px solid #38bdf8;

    color:white;
}



/* ========================= */
/* MAIN */
/* ========================= */

main{

    width:90%;

    margin:auto;
}



/* ========================= */
/* TARJETAS */
/* ========================= */

.card{

    background:#1e293b;

    padding:50px;

    border-radius:20px;

    margin-bottom:50px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}



/* Títulos */

.card h2{

    color:#38bdf8;

    margin-bottom:25px;

    font-size:40px;
}



/* ========================= */
/* STACK */
/* ========================= */

.stack-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:30px;
}



/* Tarjetas tecnologías */

.tech-card{

    background:#0b1120;

    padding:30px;

    border-radius:15px;

    text-align:center;

    transition:0.3s;
}



/* Hover */

.tech-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 25px rgba(0,0,0,0.4);
}



/* Iconos */

.tech-card i{

    font-size:60px;

    color:#38bdf8;

    margin-bottom:20px;
}



/* ========================= */
/* PROYECTOS */
/* ========================= */

.projects-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}



/* Tarjeta proyecto */

.project-card{

    background:#0b1120;

    padding:30px;

    border-radius:15px;

    transition:0.3s;
}



/* Hover elegante */

.project-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 25px rgba(0,0,0,0.4);
}



/* Botón proyecto */

.project-card button{

    margin-top:20px;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    background:#38bdf8;

    cursor:pointer;

    font-weight:bold;
}



/* ========================= */
/* FORMULARIO */
/* ========================= */


#contacto{

  display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el título y el formulario */
    text-align: center;  /* Centra el texto del título */
}

.contact-form{

    display:flex;

    flex-direction:column;
     

    gap:20px;

    max-width:700px;

    width:100%;

    margin:auto;
}



/* Inputs */

.contact-form input,
.contact-form textarea{

    padding:15px;

    border:none;

    border-radius:10px;

    outline:none;
}



/* Focus */

.contact-form input:focus,
.contact-form textarea:focus{

    box-shadow:0 0 10px #38bdf8;
}



/* Botón */

.contact-form button{

    background:#38bdf8;

    border:none;

    padding:15px;

    border-radius:10px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}



/* Hover botón */

.contact-form button:hover{

    transform:translateY(-5px);
}



/* Mensaje */

.status-message{

    display:none;

    color:#4ade80;

    font-weight:bold;
}



/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:768px){

    .hero{

        flex-direction:column;

        text-align:center;
    }

    .hero-info h1{

        font-size:40px;
    }

    .hero-image img{

        width:250px;
    }

    .navbar{

        flex-direction:column;

        gap:20px;
    }

    .nav-links{

        gap:15px;
    }

}

